*{
    margin: 0;
    
}
body{
    font-size: 18pix;
}

header {
    background-color:  #9b111e;
    height: 90px;
    padding: 20px 5px 48px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #9b111e, #000000);
    color: white;
    text-align: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

#Cabeçalho{

    font-size: 48px;
}

#escudofla {
    width: 90px;
    height: auto;
    margin-right: 40px;
    padding-left: 200px;
    padding-top: 30px;
}

h1 {
    flex: 1;
}

.btn-login{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.produto {
    display: flex;
    align-content: center;
    gap: 10px;
    padding: 10px;
}

figure {
    text-align: center; 
}

figure img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.produto2{
    display: flex;
    align-content: space-around;
    gap: 10px;
    padding: 10px;
}

figure {
    text-align: center;
    max-width: 320px;}

figure img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
figcaption {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.videos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    background-color: #f0f0f0;
    flex-wrap: wrap; /
}

.mapa {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
        
  }

footer{
    background: linear-gradient(to right, #9b111e, #000000);
    text-align: center;
    color: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
}

footer h2{
font-size: 32px;
font-weight: bold;

}

main{
    margin: 50px;
    height: auto;
    min-height: 71vh;  
}
.titulo-sobre h1{
    text-align: center;
}

.paragrafo{
    padding: 50px;
}

.paragrafo p{
    text-align: justify;

}
.contato {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 100px;    
}

.area-formulario {
    border: 1px solid #4158d0;
    border-radius: 15px;
    width: 500px;   
    height: auto; 
    padding: 32px;
    display: flex;
    flex-direction: column;       
}
.formulario {
    width: 400px;
}
.campos {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px 0;   
}

.campos input {
    border:1px solid #4158d0;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.radio{
    margin-bottom: 15px;
    height: 8rem;
}
btn-check{
    position: relative !important;
}

.btn-radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.input-radio {
    margin: 5px;
}

#btn-enviar{
    background-color:  #9b111e;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    width: 120px;
}
.link-cadastro {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link-cadastro a {
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #d40000;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.link-cadastro a:hover {
    background-color: #a80000;
    transform: scale(1.05);
    text-decoration: underline;
    
}
